.page-transition{
    position: fixed;
    top: 50%;
    left: 50%;

    width: 0;
    height: 0;

    background: #0c67b1;

    transform: translate(-50%, -50%) rotate(45deg);

    z-index: 9999;
    pointer-events: none;

    transition:
        width 0.5s cubic-bezier(.77,0,.18,1),
        height 0.5s cubic-bezier(.77,0,.18,1),
        transform 0.5s cubic-bezier(.77,0,.18,1);
}

.page-transition.active{
    width: 200vw;
    height: 200vh;

    transform:
        translate(-50%, -50%)
        rotate(405deg);
}
